<div class="wrapper">
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="card" (click)="load()">
                  <img class="icon" src=" assets/img/tim_80x80.png" alt="">
                <p class="title">Nigerian Police</p>
                <p class="text">Go to the Nigerian Police Dashboard.</p>
              </div>
            </div>
            <div class="col-md-4  col-sm-6">
              <div class="card">

                <div class="icon">
                   <img class="icon" src=" assets/img/tim_80x80.png" alt="">
                </div>
                <p class="title">Contacts</p>
                <p class="text">Add or change your contacts and links.</p>

              </div>
            </div>
            <div class="col-md-4  col-sm-6">
              <div class="card">

                <div class="icon"> <img class="icon" src=" assets/img/tim_80x80.png" alt=""></div>
                <p class="title">Contacts</p>
                <p class="text">Add or change your contacts and links.</p>

              </div>
            </div>
             <div class="col-md-4  col-sm-6">
               <div class="card">

                 <div class="icon"> <img class="icon" src=" assets/img/tim_80x80.png" alt=""></div>
                 <p class="title">Contacts</p>
                 <p class="text">Add or change your contacts and links.</p>

               </div>
             </div>
             <div class="col-md-4  col-sm-6">
               <div class="card">

                 <div class="icon"> <img class="icon" src=" assets/img/tim_80x80.png" alt=""></div>
                 <p class="title">Contacts</p>
                 <p class="text">Add or change your contacts and links.</p>

               </div>
             </div>
             <div class="col-md-4  col-sm-6">
               <div class="card">

                 <div class="icon"> <img class="icon" src=" assets/img/tim_80x80.png" alt=""></div>
                 <p class="title">Contacts</p>
                 <p class="text">Add or change your contacts and links.</p>

               </div>
             </div>
          </div>
          <div class="row">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>