<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Personnel Search</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row pl-3">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Enter Search Parameter">
                      <mat-option *ngFor="let search of searchParams" [value]="search.value">
                        {{search.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Search Key ">
                  </mat-form-field>
                </div>
                <button mat-raised-button type="submit" (click)="show()" class="btn btn-danger pull-right">Search</button>
                <div class="clearfix"></div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showResult">
       <div class="row">
         <div class="col-md-12">
           <div class="card">
             <div class="card-header card-header-danger">
               <h4 class="card-title ">Search Result <span class="badge  badge-light">1</span></h4>
             </div>
             <div class="card-body">
               <div class="sresult">
                <div class="row">
                  <div class="col-md-3 pr-md-0">
                    <div class="contain">
                      <img src="assets/img/faces/marc.jpg" alt="Avatar" class="image" style="width:100%">
                      <div class="middle">
                        <div class="text">
                          <span>Is this the right Picture?</span><br>
                          <a href=""><span class="text-success">Yes </span></a><a href=""> <span class="text-danger">
                              No</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <td mat-cell *matCellDef="let element"
                          style="width: 40% !important; padding-right: 20px !important;"> {{element.name}} </td>
                      </ng-container>

                      <!-- value Column -->
                      <ng-container matColumnDef="value">
                        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                      </ng-container>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                  </div>
                </div>
               </div>

             </div>

           </div>
         </div>
       </div>
    </div>

  </div>
</div>