
.Pimage img {
  width: 100%;
}

table {
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow: none !important;
}

.contain {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contain:hover .image {
  opacity: 0.3;
}

.contain:hover .middle {
  opacity: 1;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.sresult {
  border: 1px solid #eee;
  margin-bottom: 40px;
  margin-top: 10px;
  box-shadow: 2px 2px 7px 3px #b3b3b3;
}